<div class="panel panel-primary">
    <div class="panel-body">
        <h5 align="center">{{ tovar.name }}</h5>
    </div>
    <div class="panel-heading">
        <h5 align="center">{{ tovar.price }}</h5>
    </div>
</div>